<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>menu</name>
    <sid>6113163598971679</sid>
    <event-sheet>event_menu</event-sheet>
    <size>
        <width>1024</width>
        <height>512</height>
    </size>
    <margins>
        <horizontal>100</horizontal>
        <vertical>100</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="background" sid="1790024400415407">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="bg_menu" uid="469">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>1</y>
                        <z>0</z>
                        <width>1023</width>
                        <height>511</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="game" sid="6345698151937635">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Sprite8" uid="466">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window left</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>None</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>252</x>
                        <y>61</y>
                        <z>0</z>
                        <width>500</width>
                        <height>200</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="UI" sid="7345022669176776">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>0</x>
                <y>0</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="sound" uid="26">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sound>true</sound>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window right</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>Window right</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>604</x>
                        <y>30</y>
                        <z>0</z>
                        <width>51.675361633</width>
                        <height>53.457271576</height>
                        <depth>0</depth>
                        <hotspotX>0.517241359</hotspotX>
                        <hotspotY>0.49333334</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite9" uid="467">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window right</left-edge>
                                <top-edge>Window bottom</top-edge>
                                <right-edge>Window right</right-edge>
                                <bottom-edge>Window bottom</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>501</x>
                        <y>376</y>
                        <z>0</z>
                        <width>200</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.50666666</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="play_menu" sid="5861436147322044">
            <initially-visible>0</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="new_gamebtn" uid="4420">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window right</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>Window right</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>533</x>
                        <y>342</y>
                        <z>0</z>
                        <width>200</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.50666666</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="cuntinue_btn" uid="4421">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window right</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>None</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>533</x>
                        <y>427</y>
                        <z>0</z>
                        <width>200</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.50666666</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="score" sid="8543381548784567">
            <initially-visible>0</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="title" uid="4422">
                    <properties>
                        <text>Your Score :</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Jokerman,-37,400,0</font>
                        <color>0,128,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window left</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>None</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>7</x>
                        <y>296</y>
                        <z>0</z>
                        <width>230</width>
                        <height>78</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="menu_score" uid="4423">
                    <properties>
                        <text></text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Jokerman,-48,400,0</font>
                        <color>0,70,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window left</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>None</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>13</x>
                        <y>342</y>
                        <z>0</z>
                        <width>387</width>
                        <height>74</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
